<h1>Lista Dados Importados CNAB</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cod</th>
      <th>Cod 2</th>
    </tr>
  </thead>

  <tbody>
    <% @importer_data_cnab.each do |cnab| %>
        <tr>
          <td><%= cnab.values[2] %></td>
          <td><%= cnab.values[0] %></td>
          <td><%= cnab.values[1] %></td>
          <!--<td><%#= link_to 'Destroy', cnab, method: :delete, data: { confirm: 'Are you sure?' } %></td>!-->
        </tr>
      <%# end %>  
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Contato', new_contato_path %>